#app{
  text-align: center;
}

#thread{
  margin: auto;
  padding: 1em 1em;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  width: 50%;
}

#post{
  position: relative;
  text-align: left;
  padding: .5em .5em;
  margin: auto;
  color: #5d627b;
  background: white;
  border-top: solid 5px #aab1cf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  width: 95%;
  white-space: pre-line;
}

#edittext {
  margin: auto;
  position: relative;
  width: 95%;
}

#error{
  color: red;
}

