#error{
    color: red;
}
#twitCreate {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: auto;
    width: 50%;
}

#userId{
    position: relative;
    width: 40%;
}

#text{
    position: relative;
    width: 100%;
}