<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>ツイート一覧</title>
  </head>
  
  <body>
    <div id="app">
      <a href="twitCreate.html">新規作成</a>
      <div id="thread" v-for="thread in threads">
        <div id="post" v-for=" tweet in thread.tweets">
          <p>{{ tweet.post_user_id }} {{ tweet.post_datetime }}</p>
          <p>{{ tweet.post_text }}</p>
          <button v-on:click="createFavorite(tweet.soeji)">いいね</button>
          {{ tweet.post_fav_cnt }}
        </div>
        <br>
        <a :href=thread.threadUrl>返信</a>
      </div>
<!--     {{$data}} -->
    </div>
    <script src="https:/unpkg.com/vue@3.1.5"></script>
    <script src="../js/main.js"></script>
  </body>
  </html>
  
  
