<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/twitCreate.css">
</head>


<body>

    <div id="twitCreate">
            <p>
                <label for="userId">ユーザ名：</label>
                <input type="text" id="userId" v-model="postUserId">
                <div id="error">
                    {{ userErrorMessage }}
                </div>
            </p>
            <p>
                <textarea id="text" cols="100" rows="6" v-model="text"></textarea>
            </p>
            <div id="error">
                {{ message }}
            </div>
        <button v-on:click="onClick()" type="submit" id="submit">ツイート</button>
        <br>
        <a href="index.html">一覧に戻る</a>
    </div>

    
    <script src="https:/unpkg.com/vue@3.1.5"></script>
    <script src="../js/twitCreate.js"></script>
</body>
</html>
  
